*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font-family: "Droid Sans", sans-serif;
  font-size: 1.6rem;
  color: #333;
}


a {
  color: #388e32;
}



/** Layouts **/

.wrapper {
  width: 80vw;
  max-width: 100rem;
  padding-bottom: 3.15em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin: 0 auto;
}



/** Site Header **/

#site-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
}


#site-logo {
  display: block;
  width: 5rem;
  margin-left: 5vw;
}


#site-logo img {
  display: block;
  width: 100%;
}


#nav-toggle {
  position: fixed;
  top: -100vh;
}


.nav-toggle {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 5vw;
  position: relative;
}


.nav-toggle::before,
.nav-toggle::after {
  content: "";
  position: absolute;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: #555;
  transform-origin: center center;
  transition: all ease 250ms;
}

.nav-toggle::before {
  top: calc(50% - 5px);
}

.nav-toggle::after {
  bottom: calc(50% - 5px);
}


#nav-toggle:checked ~ .nav-toggle::before {
  top: calc(50% - 2px);
  transform: rotate(45deg);
}

#nav-toggle:checked ~ .nav-toggle::after {
  bottom: calc(50% - 2px);
  transform: rotate(-45deg);
}


.nav {
  display: none;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  background-color: #f3f3f3;
}


#nav-toggle:checked ~ .nav {
  display: block;
}


.nav::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: calc(5vw + 1rem + 0.6rem);
  width: 1.2rem;
  height: 1.2rem;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  background-color: #f3f3f3;
  transform: rotate(45deg);
}


.nav-link {
  display: block;
  padding: 0.25em calc(5vw + 1rem);
  text-decoration: none;
}


@media all and (min-width: 600px), (min-device-width: 600px) {
  #site-header {
    justify-content: space-around;
    height: 7.5rem;
    padding: 1rem 0;
  }


  #site-logo {
    width: 7rem;
    margin: 0;
  }


  #site-logo img {
    display: block;
    width: 100%;
  }


  #nav-toggle,
  .nav-toggle {
    display: none;
  }


  .nav {
    display: block;
    width: auto;
    border: none;
    position: initial;
    background-color: transparent;
  }


  .nav::before {
    display: none;
  }


  .nav-link {
    display: inline;
    padding: 0;
    margin: 0 0.75rem;
    text-decoration: none;
  }
}



/** Sections **/

.page-section {
  padding-top: 6rem;
}


.page-section:nth-of-type(odd) {
  background-color: #f5f5f5;
}


.section-title {
  margin: 1.75em 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
}


@media all and (min-width: 600px), (min-device-width: 600px) {
  .page-section {
    padding-top: 7.5rem;
  }
}



/** Landing Section **/

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


#landing .event-logo {
  width: 70vmin;
  max-width: 36rem;
}



/** About Section **/

#about .wrapper {
  padding-bottom: 0;
}


.venue-map {
  display: block;
  width: calc(100% + 20vw);
  height: 100vmin;
  margin: 3.15em -10vw 0 -10vw;
  object-fit: cover;
  object-position: center center;
}


@media all and (min-width: 1250px), (min-device-width: 1250px) {
  .venue-map {
    width: 100%;
    height: auto;
    margin: 3.15em 0;
  }
}



/** Speakers Section **/

.speakers {
  max-width: 90rem;
  margin: 0 auto;
}


.speaker {
  margin: 2rem 0;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}


.speaker-avatar {
  width: 100%;
}


.speaker-details {
  padding: 1em;
}


.speaker-name {
  margin: 0;
  font-size: 1em;
}


.speaker-company {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  opacity: 0.5;
}


@media all and (min-width: 500px), (min-device-width: 500px) {
  .speakers {
    display: flex;
    flex-wrap: wrap;
  }


  .speaker {
    width: calc((100% - 4rem) / 2);
    margin: 1rem;
  }
}


@media all and (min-width: 800px), (min-device-width: 800px) {
  .speaker {
    width: calc((100% - 12rem) / 3);
    margin: 2rem;
  }
}



/** Speakers Carousel **/

.carousel {
  position: relative;
}


.carousel-active .speakers {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}


.carousel-active .speaker {
  flex-shrink: 0;
  width: 80vw;
}


.carousel-button {
  display: none;
  width: 5rem;
  height: 5rem;
  border: none;
  position: absolute;
  top: calc(50% - 2rem);
  z-index: 1;
  background-color: #e5e5e5;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-button.prev {
  left: -2rem;
}

.carousel-button.next {
  right: -2rem;
}


.carousel-button::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.8rem);
  left: calc(50% - 0.8rem);
  width: 1.6rem;
  height: 1.6rem;
  border-top: 3px solid #aaa;
  border-left: 3px solid #aaa;
}

.carousel-button.prev::before {
  transform: translateX(4px) rotate(-45deg);
}

.carousel-button.next::before {
  transform: translateX(-4px) rotate(135deg);
}


.carousel-active .carousel-button {
  display: block;
}


@media all and (min-width: 500px), (min-device-width: 500px) {
  .carousel-active .speaker {
    width: calc((100% - 4rem) / 2);
    margin: 1rem;
  }


  .carousel-button.prev {
    left: -4rem;
  }

  .carousel-button.next {
    right: -4rem;
  }
}


@media all and (min-width: 800px), (min-device-width: 800px) {
  .carousel-active .speaker {
    width: calc((100% - 12rem) / 3);
    margin: 2rem;
  }
}



/** Schedule Section **/

.schedule {
  max-width: 70rem;
  margin: 0 auto;
}


.event {
  margin: 5rem 0;
}


.event-speaker {
  flex-shrink: 0;
  display: none;
  width: 10rem;
  text-align: center;
}


/** hack to make the speaker avatar appear vertically centered **/
.event-speaker::before {
  content: attr(data-speaker);
  display: block;
  margin: 0.5em 0;
  font-size: 1.4rem;
  font-weight: bold;
  opacity: 0;
}


.event-speaker-avatar {
  width: 60%;
  border-radius: 50%;
}


.event-speaker-name {
  margin: 0.5em 0;
  font-size: 1.4rem;
}


.event-time {
  display: block;
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1.6rem auto;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
  background-color: #ddd;
  border-radius: 50%;
}


.event-title {
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
}


@media all and (min-width: 500px), (min-device-width: 500px) {
  .event {
    display: flex;
    align-items: center;
    position: relative;
  }


  .event::before,
  .event::after {
    content: "";
    width: 2px;
    height: calc(50% + 2.5rem);
    position: absolute;
    left: calc(15rem - 1px);
    background-color: #ddd;
  }

  .event::before {
    bottom: calc(50% + 0.5rem);
  }

  .event::after {
    top: calc(50% + 0.5rem);
  }

  .event:first-child::before,
  .event:last-child::after {
    display: none;
  }


  .event-speaker {
    display: block;
  }


  .event-time {
    flex-shrink: 0;
    margin: 0 2.5rem;
    position: relative;
  }


  .event-title {
    text-align: left;
  }
}


@media all and (min-width: 800px), (min-device-width: 800px) {
  .event::before,
  .event::after {
    left: calc(16.5rem - 1px);
  }

  .event-time {
    margin: 0 4rem;
  }
}
