*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font-family: "Droid Sans", sans-serif;
  font-size: 1.6rem;
  color: #333;
}



/** Layouts **/

.wrapper {
  width: 80vw;
  max-width: 100rem;
  padding: 1.25em 0;
  margin: 0 auto;
}



/** Sections **/

.page-section:nth-child(odd) {
  background-color: #f5f5f5;
}


.section-title {
  margin: 1.75em 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
}



/** Landing Section **/

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


#landing .event-logo {
  width: 70vmin;
  max-width: 42rem;
}



/** About Section **/

#about .wrapper {
  padding-bottom: 0;
}


.venue-map {
  display: block;
  width: calc(100% + 20vw);
  height: 75vmin;
  margin: 3.15em -10vw 0 -10vw;
  object-fit: cover;
  object-position: center center;
}


@media all and (min-width: 1250px) {
  #about .wrapper {
    padding-bottom: 1.25em;
  }

  .venue-map {
    width: 100%;
    height: auto;
    margin: 3.15em 0;
  }
}



/** Speakers Section **/

.speakers {
  display: flex;
  flex-wrap: wrap;
}


.speaker {
  flex-shrink: 0;
  width: calc((100% - 12rem) / 3);
  margin: 2rem;
  text-align: center;
  background-color: #eee;
}


.speaker-avatar {
  width: 100%;
}


.speaker-details {
  padding: 2.4rem 1rem;
}


.speaker-name {
  margin: 0;
}


.speaker-company {
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
  color: #777;
}


.social-links {
  margin-top: 2rem;
}


.social-link {
  display: inline-block;
  width: 2.6rem;
  height: 2.6rem;
  border: 1px solid #aaa;
  border-radius: 50%;
}



/** Schedule Section **/

.schedule {
  display: flex;
  align-items: center;
  position: relative;
}


.schedule-event {
  order: 1;
  margin-left: 16rem;
}


.schedule-event-time {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: calc(50% - 2.5rem);
  left: 23.5rem;
  text-align: center;
  line-height: 5rem;
  background-color: #eee;
  border-radius: 50%;
}


.schedule-speaker {
  flex-shrink: 0;
  width: 18rem;
  text-align: center;
  margin-top: 3.17em;
}


.schedule-speaker-avatar {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 50%;
}
