*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font-family: "Droid Sans", sans-serif;
  font-size: 1.6rem;
  color: #333;
}



/** Layouts **/

.wrapper {
  width: 80vw;
  max-width: 100rem;
  padding-bottom: 3.15em;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  margin: 0 auto;
}



/** Sections **/

.page-section:nth-child(odd) {
  background-color: #f5f5f5;
}


.section-title {
  margin: 1.75em 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
}



/** Landing Section **/

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


#landing .event-logo {
  width: 70vmin;
  max-width: 42rem;
}



/** About Section **/

#about .wrapper {
  padding-bottom: 0;
}


.venue-map {
  display: block;
  width: calc(100% + 20vw);
  height: 100vmin;
  margin: 3.15em -10vw 0 -10vw;
  object-fit: cover;
  object-position: center center;
}


@media all and (min-width: 1250px), (min-device-width: 1250px) {
  .venue-map {
    width: 100%;
    height: auto;
    margin: 3.15em 0;
  }
}



/** Speakers Section **/

.speaker {
  margin: 2rem 0;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}


.speaker-avatar {
  width: 100%;
}


.speaker-details {
  padding: 1em;
}


.speaker-name {
  margin: 0;
  font-size: 1em;
}


.speaker-company {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  opacity: 0.5;
}


@media all and (min-width: 500px), (min-device-width: 500px) {
  .speakers {
    display: flex;
    flex-wrap: wrap;
  }


  .speaker {
    width: calc((100% - 4rem) / 2);
    margin: 1rem;
  }
}


@media all and (min-width: 800px), (min-device-width: 800px) {
  .speaker {
    width: calc((100% - 6rem) / 3);
  }
}



/** Schedule Section **/

.schedule {
  max-width: 70rem;
  margin: 0 auto;
}


.event {
  margin: 5rem 0;
}


.event-speaker {
  flex-shrink: 0;
  display: none;
  width: 10rem;
  text-align: center;
}


/** hack to make the speaker avatar appear vertically centered **/
.event-speaker::before {
  content: attr(data-speaker);
  display: block;
  margin: 0.5em 0;
  font-size: 1.4rem;
  font-weight: bold;
  opacity: 0;
}


.event-speaker-avatar {
  width: 60%;
  border-radius: 50%;
}


.event-speaker-name {
  margin: 0.5em 0;
  font-size: 1.4rem;
}


.event-time {
  display: block;
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1.6rem auto;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  line-height: 5rem;
  background-color: #ddd;
  border-radius: 50%;
}


.event-title {
  margin: 0;
  margin-bottom: 0.5em;
  text-align: center;
}


@media all and (min-width: 500px), (min-device-width: 500px) {
  .event {
    display: flex;
    align-items: center;
    position: relative;
  }


  .event::before,
  .event::after {
    content: "";
    width: 2px;
    height: calc(50% + 2.5rem);
    position: absolute;
    left: calc(15rem - 1px);
    background-color: #ddd;
  }

  .event::before {
    bottom: calc(50% + 0.5rem);
  }

  .event::after {
    top: calc(50% + 0.5rem);
  }

  .event:first-child::before,
  .event:last-child::after {
    display: none;
  }


  .event-speaker {
    display: block;
  }


  .event-time {
    flex-shrink: 0;
    margin: 0 2.5rem;
    position: relative;
  }


  .event-title {
    text-align: left;
  }
}


@media all and (min-width: 800px), (min-device-width: 800px) {
  .event::before,
  .event::after {
    left: calc(16.5rem - 1px);
  }

  .event-time {
    margin: 0 4rem;
  }
}
