<footer id="site-footer">
  <div class="wrapper">
    <div class="footer-sections">
      <img class="gdg-logo" src="/static/images/gdg-logo.png" alt="GDG Logo">

      <div class="footer-section">
        <h4>GDG Cebu</h4>
        <a href="#">About</a>
        <a href="#">Events</a>
        <a href="#">Team</a>
      </div>
      <div class="footer-section">
        <h4>Contact Us</h4>
        <a href="#">Email Us</a>
        <a href="#">Join our Facebook Group</a>
        <a href="#">Like our Facebook Page</a>
      </div>
    </div>

    <small>Copyright &copy; 2017 Google Developers Group Cebu</small>
  </div>
</footer>
