<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}GDG Cebu Code Camp 2017{% endblock %}</title>

    <link rel="stylesheet" href="/static/stylesheets/fonts.min.css">
    <link rel="stylesheet" href="/static/stylesheets/main.min.css">
    {% block stylesheets %}{% endblock %}
  </head>

  <body>
    {% include 'partials/_header.html' %}
    {% block contents %}{% endblock %}
    {% include 'partials/_footer.html' %}

    {% block javascripts %}{% endblock %}
  </body>
</html>
