{% extends '_base.html' %}


{% block contents %}
  <section id="landing" class="page-section">
    <img class="event-logo" src="/static/images/logo.png" alt="GDG Cebu Code Camp 2017 Logo">
  </section>

  <section id="about" class="page-section">
    <div class="wrapper">
      <h1 class="section-title">About The Event</h1>

      <p>Google Developers Group Cebu (GDG Cebu) is a non-profit group of amateurs and professionals in Cebu's developer community who are passionate about Google technologies. GDG Cebu has previously organized multiple events, ranging from campus talks and viewing parties, to larger ones such as last year's DevFest, which drew more than a thousand attendees.</p>

      <p>On <strong>February 25, 2017</strong>, GDG Cebu will be holding its biggest event yet—the <strong>GDG Cebu Code Camp</strong>.</p>

      <p>The Code Camp will run from <strong>10am to 3pm</strong> and focus on essential technical topics for developers, along with updates on the current development trends. The topics will range from Machine Learning, Firebase, and the Cloud, to Material Design, Android, and 2017's Web Trends.</p>

      <p>For this special event, attendees will be learning about these topics from Googlers (Google employees) themselves, who will be flying in from South Korea, Japan, Singapore and the US.</p>

      <p>For the estimated 1,000 developers, tech enthusiasts, students, etc. who will attend, the Code Camp will be a great opportunity to learn about the latest technologies straight from Google’s experts. Additionally, developers from Cebu and around the Visayas will also get to meet and interact with one another, leading to sharing, possible collaboration and the enlivening of Cebu’s tech scene.</p>

      <p>The GDG Cebu Code Camp will be held at the <strong>IEC Pavilion, Pope John Paul II Ave., Cebu City.</strong>.</p>

      <img class="venue-map" src="{{eventMapUrl}}" alt="Map to event venue">
    </div>
  </section>

  <section id="speakers" class="page-section">
    <div class="wrapper">
      <h1 class="section-title">Speakers</h1>

      <div class="carousel">
        <button class="carousel-button prev"></button>
        <button class="carousel-button next"></button>
        <div class="speakers">
          {% for speaker in speakers %}
          <article class="speaker">
            <img class="speaker-avatar" src="{{ speaker.image }}" alt="{{ speaker.name }}">
            <div class="speaker-details">
              <h1 class="speaker-name">{{ speaker.name }}</h1>
              <h2 class="speaker-company">{{ speaker.position }}, {{ speaker.company }}</h2>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section id="schedule" class="page-section">
    <div class="wrapper">
      <h1 class="section-title">Schedule</h1>

      <div class="schedule">
        {% for event in events %}
          <article class="event">
            <header class="event-speaker" data-speaker="{{ event.speaker.name }}">
              <img class="event-speaker-avatar" src="{{ event.speaker.image }}" alt="{{ event.speaker.name }}">
              <h1 class="event-speaker-name">{{ event.speaker.name }}</h1>
            </header>
            <time class="event-time" datetime="now">{{ event.time }}</time>
            <main class="event-details">
              <h1 class="event-title">{{ event.title }}</h1>
              <p class="event-summary">{{ event.summary }}</p>
            </main>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}


{% block javascripts %}
  <script src="/static/javascripts/main.js"></script>
{% endblock %}
