<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GDG Cebu Code Camp 2017">

    <title>GDG Cebu Code Camp 2017</title>

    <link rel="stylesheet" href="/static/stylesheets/fonts.css">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
  </head>

  <body>
    <section id="landing" class="page-section">
      <img class="event-logo" src="/static/images/logo.png" alt="GDG Cebu Code Camp 2017 Logo">
    </section>

    <section id="about" class="page-section">
      <div class="wrapper">
        <h1 class="section-title">About The Event</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque illo veniam eius ab enim unde beatae optio ratione corrupti doloribus ipsam, odio necessitatibus fugit assumenda earum nobis quaerat fuga quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nobis dolorem est reprehenderit delectus, praesentium magnam, aliquam labore. Nostrum laboriosam, nihil, repellat fugit cupiditate unde perferendis deleniti cumque sint sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium odit autem nulla fugiat nostrum rerum eos distinctio deserunt fuga, voluptatem sunt mollitia, ea modi harum ut pariatur consequuntur dolore temporibus!</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tempore rerum distinctio quibusdam ducimus voluptatum voluptatibus ullam consectetur labore, a dignissimos iste, maxime alias! Atque ratione, voluptates et ipsam vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde consectetur, dolore, deleniti itaque, quas blanditiis velit molestias veniam illo beatae perspiciatis qui ducimus nihil fuga, eos at ipsam. Est, odit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ullam! Adipisci illo delectus molestias atque reprehenderit cupiditate blanditiis repudiandae, praesentium nobis ab vero alias ad quibusdam labore ullam, expedita assumenda.</p>

        <img class="venue-map" src="{{eventMapUrl}}" alt="Map to event venue">
      </div>
    </section>

    <!--
    <section id="speakers" class="page-section">
      <div class="wrapper">
        <h1 class="section-title">Speakers</h1>

        <div class="speakers">
          <article class="speaker">
            <img class="speaker-avatar" src="/static/images/speakers/arnellebalane.jpg" alt="Arnelle Balane">
            <div class="speaker-details">
              <h1 class="speaker-name">Arnelle Balane</h1>
              <h2 class="speaker-company">ChannelFix, LLC.</h2>
              <div class="social-links">
                <a class="social-link gplus" href="#"></a>
                <a class="social-link twitter" href="#"></a>
                <a class="social-link github" href="#"></a>
              </div>
            </div>
          </article>
          <article class="speaker">
            <img class="speaker-avatar" src="/static/images/speakers/arnellebalane.jpg" alt="Arnelle Balane">
            <div class="speaker-details">
              <h1 class="speaker-name">Arnelle Balane</h1>
              <h2 class="speaker-company">ChannelFix, LLC.</h2>
              <div class="social-links">
                <a class="social-link gplus" href="#"></a>
                <a class="social-link twitter" href="#"></a>
                <a class="social-link github" href="#"></a>
              </div>
            </div>
          </article>
          <article class="speaker">
            <img class="speaker-avatar" src="/static/images/speakers/arnellebalane.jpg" alt="Arnelle Balane">
            <div class="speaker-details">
              <h1 class="speaker-name">Arnelle Balane</h1>
              <h2 class="speaker-company">ChannelFix, LLC.</h2>
              <div class="social-links">
                <a class="social-link gplus" href="#"></a>
                <a class="social-link twitter" href="#"></a>
                <a class="social-link github" href="#"></a>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section id="schedule" class="page-section">
      <div class="wrapper">
        <h1 class="section-title">Schedule</h1>

        <div class="schedules">
          <article class="schedule">
            <main class="schedule-event">
              <h1 class="schedule-event-title">Introduction to Progressive Web Apps</h1>
              <time class="schedule-event-time" datetime="now">10:00</time>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, explicabo nemo aperiam minus officiis, a sunt dolorum vero iusto, tenetur suscipit commodi iure inventore. Placeat similique illum quod culpa earum.</p>
            </main>
            <footer class="schedule-speaker">
              <img class="schedule-speaker-avatar" src="/static/images/speakers/arnellebalane.jpg" alt="Arnelle Balane">
              <h1 class="schedule-speaker-name">Arnelle Balane</h1>
            </footer>
          </article>
          <article class="schedule">
            <main class="schedule-event">
              <h1 class="schedule-event-title">Introduction to Progressive Web Apps</h1>
              <time class="schedule-event-time" datetime="now">10:00</time>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, explicabo nemo aperiam minus officiis, a sunt dolorum vero iusto, tenetur suscipit commodi iure inventore. Placeat similique illum quod culpa earum.</p>
            </main>
            <footer class="schedule-speaker">
              <img class="schedule-speaker-avatar" src="/static/images/speakers/arnellebalane.jpg" alt="Arnelle Balane">
              <h1 class="schedule-speaker-name">Arnelle Balane</h1>
            </footer>
          </article>
          <article class="schedule">
            <main class="schedule-event">
              <h1 class="schedule-event-title">Introduction to Progressive Web Apps</h1>
              <time class="schedule-event-time" datetime="now">10:00</time>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, explicabo nemo aperiam minus officiis, a sunt dolorum vero iusto, tenetur suscipit commodi iure inventore. Placeat similique illum quod culpa earum.</p>
            </main>
            <footer class="schedule-speaker">
              <img class="schedule-speaker-avatar" src="/static/images/speakers/arnellebalane.jpg" alt="Arnelle Balane">
              <h1 class="schedule-speaker-name">Arnelle Balane</h1>
            </footer>
          </article>
        </div>
      </div>
    </section>
    -->
  </body>
</html>
